[submodule "api"]
	path = api
	url = git@github.com:williamlagos/events-api.git
[submodule "android"]
	path = android
	url = git@github.com:williamlagos/events-android.git
[submodule "web"]
	path = web
	url = git@github.com:williamlagos/events-web.git
